<% if user_signed_in? %>

<% else %>
	<div class="hero-unit">
		<h1>Welcome to my Pinterest spoof</h1>
		<p>
			I'm learning Rails through 
			<%= link_to "One Month Rails", "http://onemonthrails.com"%>
			and this is what I've built so far.
		</p>
		<p>
			<%= link_to "Sign up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>

<% end %>